<h1> Каталог книг </h1>
<h3>@ViewBag.bookCategory</h3>
@{
    foreach (var book in Model.allBooks){
        <div>
            <h2>Название:@book.name</h2>
            <p>Цена:@book.price.ToString("c") </p>
        </div>
    }
}
